<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판변경</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
    <link th:href="@{/css/quill.snow.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>


<body>
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home.do">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">게시판변경</li>
            </ol>
        </nav>

        <form th:action="@{/board/insertaction.do}" method="post" id="form">
            <div style="margin-bottom: 5px;">
                <label class="lbl">번호</label>
                <input type="text" id="no" name="no" th:value="${board.no}" readonly />
            </div>

            <div style="margin-bottom: 5px;">
                <label class="lbl">제목</label>
                <input type="text" id="title" name="title" th:value="${board.title}" />
            </div>

            <div>
                <label class="lbl">내용</label>
                <div style="display: inline-block; width:560px;">
                    <div id="editor" style="height: 300px;"></div>
                    <textarea name="content" id="content" style="display: none;"></textarea>
                </div>
            </div>

            <div>
                <label class="lbl">작성자</label>
                <input type="text" id="writer" name="writer" th:value="${board.writer}" />
            </div>

            <div>
                <label class="lbl">조회수</label>
                <input type="text" id="hit" name="hit" th:value="${board.hit}" readonly />
            </div>

            <div style="margin-bottom: 5px;">
                <label class="lbl">날짜</label>
                <input type="text" id="regdate" name="regdate" th:value="${board.regdate}" readonly />
            </div>

            <div>
                <input type="button" class="btn btn-primary" onclick="handleWrite()" value="글변경" />
                <a href="/board/list.do" class="btn btn-success">목록으로</a>
            </div>
        </form>
    </div>


    <script th:src="@{/js/quill.js}"></script>
    <script th:inline="javascript">
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];


        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        // 내용 읽어서 추가하기
        quill.pasteHTML([[ ${board.content} ]]);

        // 제목, 작성자의 유효성검사
        function handleWrite() {
            const title = document.getElementById('title');
            const writer = document.getElementById('writer');

            if (title.value.length < 2) { //2자 미만
                alert('제목은 2자 이상입니다.');
                title.focus();
                return false;
            }

            if (writer.value.length < 2) {
                alert('작성자 2자 이상입니다.');
                writer.focus();
                return false;
            }

            // textarea 태그 찾음
            const content = document.getElementById('content');
            // div의 내용이 전송이 안되니 content으로 복사한다. 이유는 전송을 위해서
            content.value = quill.root.innerHTML;

            // form 태그 찾음
            const form = document.getElementById('form');
            // form을 전송
            form.submit();
        } 
    </script>
</body>

</html>