<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <h3>게시글</h3>
        <div style="margin-top: 10px;">
            <label class="lbl">글번호</label>
            <span th:text="${board.no}"></span>
        </div>

        <div>
            <label class="lbl">제목</label>
            <span th:text="${board.title}"></span>
            <hr/>
        </div>

        <div>
            <label class="lbl">내용</label>
            <span th:utext="${board.content}"></span>
            <hr/>
        </div>

        <div>
            <label class="lbl">작성자</label>
            <span th:text="${board.writer}"></span>
        </div>

        <div>
            <label class="lbl">조회수</label>
            <span th:text="${board.hit}"></span>
        </div>

        <div>
            <label class="lbl">등록일자</label>
            <span th:text="${#dates.format(board.regdate,'YYYY-MM-dd HH:mm:ss')}"></span>
        </div>


        <div style="margin-top: 10px;">
            <a th:href="@{/board/list.do}" th:text="목록" class="btn btn-secondary"></a>
            <a th:href="@{/board/update.do(no=${board.no})}" th:text="수정" class="btn btn-dark"></a>
            <button class="btn btn-danger" th:onclick="|javascript:deleteBoard('${board.no}')|">삭제</button>
            <a th:if="${prev > 0}" th:href="@{/board/selectone.do(no=${prev})}" th:text="이전글" class="btn bg-body-tertiary"></a>
            <a th:if="${next > 0}" th:href="@{/board/selectone.do(no=${next})}" th:text="다음글" class="btn bg-body-tertiary"></a>
        </div>
    </div>
    <script>
        function deleteBoard(no) {
            if (confirm('게시글을 삭제합니다.')) {
                window.location.href = '/board/delete.do?no=' + no;
            }
        }
    </script>
</body>

</html>