<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판글쓰기</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
    <link th:href="@{/css/quill.snow.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <form th:action="@{/board/insertaction.do}" method="post" id="form">
            <h3>글쓰기</h3>
            <div style="margin-bottom: 5px;">
                <label class="lbl">제목</label>
                <input type="text" placeholder="제목" id="title" name="title" style="width: 560px;" />
            </div>
            <div>
                <label class="lbl">내용</label>
                <div style="display: inline-block; width:560px;">
                    <div id="editor" style="height: 300px;">
                        <p>Hello World!</p>
                        <p>Some initial <strong>bold</strong> text</p>
                        <p><br></p>
                    </div>
                    <textarea name="content" id="content" style="display: none;"></textarea>
                </div>
            </div>
            <div style="margin-bottom: 5px;">
                <label class="lbl">작성자</label>
                <input type="text" placeholder="작성자" id="writer" name="writer" style="width: 560px;" />
            </div>
            <div>
                <input type="button" class="btn btn-primary" onclick="handleWrite()" value="글쓰기" />
                <a href="/board/list.do" class="btn btn-primary">목록으로</a>
            </div>
        </form>
    </div>


    <script th:src="@{/js/quill.js}"></script>
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];

        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        // 제목, 작성자의 유효성검사
        function handleWrite() {
            const title = document.getElementById('title');
            const writer = document.getElementById('writer');

            if (title.value.length < 2) { //2자 미만
                alert('제목은 2자 이상입니다.');
                title.focus();
                return false;
            }

            if (writer.value.length < 2) {
                alert('작성자 2자 이상입니다.');
                writer.focus();
                return false;
            }

            // textarea를 찾음
            const content = document.getElementById('content');

            // div의 내용이 전송이 안되니 content으로 복사한다.
            content.value = quill.root.innerHTML;

            // form 태그로 찾음
            const form = document.getElementById('form');
            form.submit();

            //alert('글쓰기 가능한 시점');
        }
    </script>
</body>

</html>