<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
</head>

<body>
    
    <div class="container">
        <h3>게시판 상세화면</h3>
        <div>
            <label class="lbl">글번호:</label>
            <span>1</span>
        </div>

        <div>
            <label class="lbl">제목 :</label>
            <span>제목입니다.</span>
        </div>
                
        <div>
            <label class="lbl">내용 :</label>
            <span>제목입니다.</span>
        </div>

        <div>
            <label class="lbl">작성자 :</label>
            <span>가나다</span>
        </div>

        <div>
            <label class="lbl">조회수 :</label>
            <span>1</span>
        </div>

        <div>
            <label class="lbl">등록일자 :</label>
            <span>2023-08-07</span>
        </div>


        <div>
            <a href="boardlist1.html"><button>목록으로</button></a>
            <button>게시글변경</button>
            <button>게시글삭제</button>
            <button>이전글</button>
            <button>다음글</button>
        </div>
    </div>

</body>
</html>