<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책등록화면</title>
    <style>
        .container {
            width: 600px;
            border: 1px solid #cccccc;
            padding: 20px;
            background-color: azure;
        }

        .lbl {
            width: 100px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h3>책등록화면</h3>
        </div>

        <div>
            <label class="lbl">제목</label>
            <input type="text" placeholder="책제목" />
        </div>

        <div>
            <label class="lbl">내용</label>
            <textarea rows="6" style="width:171px" placeholder="책내용"></textarea>
        </div>

        <div>
            <label class="lbl">저자</label>
            <input type="text" placeholder="저자" />
        </div>

        <div>
            <label class="lbl">가격</label>
            <input type="number" placeholder="가격" />
        </div>

        <div>
            <label class="lbl">출판사</label>
            <select>
                <option>출판사1</option>
                <option>출판사2</option>
            </select>
        </div>

        <div>
            <label class="lbl">수량</label>
            <input type="number" placeholder="수량" />
        </div>

        <div>
            <label class="lbl">일자</label>
            <input type="date" />
        </div>

        <div>
            <label class="lbl"></label>
            <input type="submit" value="책등록" />
            <a href="home.html"><input type="button" value="홈으로" /></a>
        </div>
    </div>

</body>

</html>