<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form 실습</title>
    <style>
        .container {
            width   : 800px;
            border  : 1px solid #cccccc;
            padding : 30px;
            background-color    : azure;
            margin  : 0px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h3>form 실습</h3>
        </div>

        <div>
            <input type="text" placeholder="아이디입력" style="width:320px" /> 아이디, 이름, 이메일 (문자+숫자)
        </div>

        <div>
            <input type="password" placeholder="암호입력" /> (문자+숫자) 노출되면 안되는것
        </div>

        <div>
            <input type="number" placeholder="나이입력" /> 숫자만 가능
        </div>

        <div>
            <textarea rows="3" placeholder="내용입력"></textarea> 여러줄의 내용입력
        </div>

        <div>
            <input type="radio" name="gender" />남
            <input type="radio" name="gender" />여  1개만 선택됨.
        </div>

        <div>
            <input type="checkbox" /> html
            <input type="checkbox" /> css
            <input type="checkbox" /> js
            <input type="checkbox" /> java   여러개 선택가능
        </div>

        <div>
            <select>
                <option>naver.com</option>
                <option>gmail.com</option>
                <option>daum.net</option> 
            </select> 1개를 선택
        </div>

        <div>
            <input type="color" /> 색상선택
        </div>

        <div>
            <input type="file" multiple /> 파일선택 (ctrl 키를 누른상태 여러개 선택 가능)
        </div>

        <div>
            <input type="date"  /> 날짜 선택
        </div>

        <div>
            <input type="range"  min="1" max="10" /> 범위 선택
        </div>

    </div>
</body>
</html>












